# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\hagtv\Desktop\Studies\høst_2021\IKT301_anvendte_algoritmer\Assignment_1\Sudoku_final_solution\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
